[Desktop Entry]
Encoding=UTF-8
Name=Link to PHP 7.0 on CentOS/RHEL 6.8 and 7.3 via Yum – Webtatic.com
Type=Link
URL=https://webtatic.com/packages/php70/
Icon=text-html
